.row {
    @mixin clearfix;
    &--gutters {
        margin-right: -65px;
    }
    &--gutters>div {
        padding-right: 65px;
    }
    &__large-4 {
        margin-bottom: 1rem;
    }
    @mixin atMedium {
        &__large-4 {
            float: left;
            width: 50%;
        }
    }
    @mixin atLarge {
        &__large-4 {
            float: left;
            width: 33.33%;
        }
    }
}